.rowHeader {
  height: 10%;
  width: 100%;
}

.rowContentA, .rowContentB, .rowContentC {
  height: 100%;
  width: 100%;
}

.rowContentA {
  background-color: #9bc6d3;
  border: 10px solid #a6d6c3;
}

.rowContentB {
  background-color: #e8e3cc;
  border: 10px solid #f5d3d6;
}

.rowContentC {
  background-color: slategray;
  border: 10px solid cornflowerblue;
}

.rowContentHolder {
  display: flex;
  height: 40%;
  width: 100%;
}
